extends ../base_layout

block content
  .span6
    h1 Chatifier users
    div#js-user-list
  .span6
    div#js-user-management

block append templates
  #search-template
    input.input-medium.search-query(type="text")

  #user-table-template
    table#user-table.table
      thead
        tr
          th
            | Login
          th
            | Actions
      tbody

  #user-management-template
    h2 User {{ login }}
    form(action='/users/{{ _id }}/edit', method='post')
      roles = ['user-management', 'room-deletion']
      h3 User roles
      each role in roles
        label.checkbox(for='user_role_#{role}')
          input(id='user_role_#{role}', name='user[roles][#{role}]', type='checkbox', data-role='#{role}')
          | #{role}

      input(type='submit', class='btn btn-primary')


block append scripts
  script
    var users = !{JSON.stringify(users)};
  script(src='/js/users.js')
